<!DOCTYPE html>
<html>
<head>
    <title>Weather App - Logout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>

        <h2>You have been successfully logged out.</h2>

        <a href="{{ url_for('login') }}">Log in</a> |
        <a href="{{ url_for('register') }}">Register</a>
        <nav>
            <ul>
              <li><a href="{{ url_for('login') }}">Log In</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
          </nav>
    </div>
</body>
</html>
